// Roboto
//@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");

//Lato
//@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap");

// Roboto
@font-face {
  font-family: 'Roboto' !important;
  src: url("../fonts/Roboto-Thin.ttf") format('truetype') !important;
  font-weight: 100 !important;
  font-style: normal !important;
}

@font-face {
  font-family: 'Roboto' !important;
  src: url("../fonts/Roboto-ThinItalic.ttf") format('truetype') !important;
  font-weight: 100 !important;
  font-style: italic !important;
}

@font-face {
  font-family: 'Roboto' !important;
  src: url("../fonts/Roboto-Light.ttf") format('truetype') !important;
  font-weight: 300 !important;
  font-style: normal !important;
}

@font-face {
  font-family: 'Roboto' !important;
  src: url("../fonts/Roboto-LightItalic.ttf") format('truetype') !important;
  font-weight: 300 !important;
  font-style: italic !important;
}

@font-face {
  font-family: 'Roboto' !important;
  src: url("../fonts/Roboto-Regular.ttf") format('truetype') !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

@font-face {
  font-family: 'Roboto' !important;
  src: url("../fonts/Roboto-Italic.ttf") format('truetype') !important;
  font-weight: 400 !important;
  font-style: italic !important;
}

@font-face {
  font-family: 'Roboto' !important;
  src: url("../fonts/Roboto-Medium.ttf") format('truetype') !important;
  font-weight: 500 !important;
  font-style: normal !important;
}

@font-face {
  font-family: 'Roboto' !important;
  src: url("../fonts/Roboto-MediumItalic.ttf") format('truetype') !important;
  font-weight: 500 !important;
  font-style: italic !important;
}

@font-face {
  font-family: 'Roboto' !important;
  src: url("../fonts/Roboto-Bold.ttf") format('truetype') !important;
  font-weight: 700 !important;
  font-style: normal !important;
}

@font-face {
  font-family: 'Roboto' !important;
  src: url("../fonts/Roboto-BoldItalic.ttf") format('truetype') !important;
  font-weight: 700 !important;
  font-style: italic !important;
}

@font-face {
  font-family: 'Roboto' !important;
  src: url("../fonts/Roboto-Black.ttf") format('truetype') !important;
  font-weight: 900 !important;
  font-style: normal !important;
}

@font-face {
  font-family: 'Roboto' !important;
  src: url("../fonts/Roboto-BlackItalic.ttf") format('truetype') !important;
  font-weight: 900 !important;
  font-style: italic !important;
}

// Lato
@font-face {
  font-family: 'Lato' !important;
  src: url("../fonts/Lato-Thin.ttf") format('truetype') !important;
  font-weight: 100 !important;
  font-style: normal !important;
}

@font-face {
  font-family: 'Lato' !important;
  src: url("../fonts/Lato-ThinItalic.ttf") format('truetype') !important;
  font-weight: 100 !important;
  font-style: italic !important;
}

@font-face {
  font-family: 'Lato' !important;
  src: url("../fonts/Lato-Light.ttf") format('truetype') !important;
  font-weight: 300 !important;
  font-style: normal !important;
}

@font-face {
  font-family: 'Lato' !important;
  src: url("../fonts/Lato-LightItalic.ttf") format('truetype') !important;
  font-weight: 300 !important;
  font-style: italic !important;
}

@font-face {
  font-family: 'Lato' !important;
  src: url("../fonts/Lato-Regular.ttf") format('truetype') !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

@font-face {
  font-family: 'Lato' !important;
  src: url("../fonts/Lato-Italic.ttf") format('truetype') !important;
  font-weight: 400 !important;
  font-style: italic !important;
}

@font-face {
  font-family: 'Lato' !important;
  src: url("../fonts/Lato-Medium.ttf") format('truetype') !important;
  font-weight: 500 !important;
  font-style: normal !important;
}

@font-face {
  font-family: 'Lato' !important;
  src: url("../fonts/Lato-MediumItalic.ttf") format('truetype') !important;
  font-weight: 500 !important;
  font-style: italic !important;
}

@font-face {
  font-family: 'Lato' !important;
  src: url("../fonts/Lato-Bold.ttf") format('truetype') !important;
  font-weight: 700 !important;
  font-style: normal !important;
}

@font-face {
  font-family: 'Lato' !important;
  src: url("../fonts/Lato-BoldItalic.ttf") format('truetype') !important;
  font-weight: 700 !important;
  font-style: italic !important;
}

@font-face {
  font-family: 'Lato' !important;
  src: url("../fonts/Lato-Black.ttf") format('truetype') !important;
  font-weight: 900 !important;
  font-style: normal !important;
}

@font-face {
  font-family: 'Lato' !important;
  src: url("../fonts/Lato-BlackItalic.ttf") format('truetype') !important;
  font-weight: 900 !important;
  font-style: italic !important;
}
