<!DOCTYPE html>
<html lang="en" class="gm">
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">

  <script src="https://kit.fontawesome.com/c55ffa2d10.js" crossorigin="anonymous"></script>
</head>
<body class="gm">

  <!-- Sidebar -->
  <div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="btn-close" onclick="closeNav()">&times;</a>
    <a href="/home">Go back</a>
    <a href="/lissajous" class="active"><i class="fas fa-chart-area"></i> Lissajous</a>
    <a href="/redesign"><i class="fas fa-drafting-compass"></i> Redesign</a>
    <a href="/game"><i class="fas fa-gamepad"></i> Tic Tac Toe</a>
  </div>

  <!-- Main content -->
  <div class="container">

    <!-- Navbar -->
    <div id="myNavbar" class="navbar">
      <span class="btn-menu" onclick="openNav()"><i class="fas fa-bars fa-lg"></i> Menu</span>
      <span>Tic Tac Toe <i class="fas fa-gamepad"></i></span>
    </div>

    <div class="content">

      <div class="choose-player">
        <div id="col-player" class="row">
          <a id="one-player" onclick="players(1)" class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-4">
            <div id="col-one-player">
              <i class="fas fa-user fa-5x"></i>
              <span>Player 1</span>
              <span>Computer</span>
            </div>
          </a>
          <a id="two-player" onclick="players(2)" class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-4">
            <div id="col-two-player">
              <i class="fas fa-user-friends fa-5x"></i>
              <span>Player 1</span>
              <span>Player 2</span>
            </div>
          </a>
        </div>
      </div>

      <div class="game">
        <div id="col-game" class="row">
          <div id="player-one" class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-4">
            <span id="player-one-name"></span>
            <span id="player-one-symbol"></span>
            <span id="player-one-turn">It's your turn</span>
          </div>
          <div id="board" class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">

              <div class="col" id="case-11" onclick="mousePressed(1,1)"></div>
              <div class="col" id="case-12" onclick="mousePressed(1,2)"></div>
              <div class="col" id="case-13" onclick="mousePressed(1,3)"></div>


              <div class="col" id="case-21" onclick="mousePressed(2,1)"></div>
              <div class="col" id="case-22" onclick="mousePressed(2,2)"></div>
              <div class="col" id="case-23" onclick="mousePressed(2,3)"></div>


              <div class="col" id="case-31" onclick="mousePressed(3,1)"></div>
              <div class="col" id="case-32" onclick="mousePressed(3,2)"></div>
              <div class="col" id="case-33" onclick="mousePressed(3,3)"></div>
            </div>

          <div id="player-two" class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-4">
            <span id="player-two-name"></span>
            <span id="player-two-symbol"></span>
            <span id="player-two-turn">It's your turn</span>
          </div>
        </div>
      </div>

      <div class="equality">
        <h1>Equality !</h1>
        <button type="button" name="player" onclick="selectPlayer()">Select Player</button>
        <button type="button" name="new" onclick="newGame()">New Game</button>
      </div>

      <div class="winner">
        <h1 id="winner"></h1>
        <button type="button" name="player" onclick="selectPlayer()">Select Player</button>
        <button type="button" name="new" onclick="newGame()">New Game</button>
      </div>

    </div>

  </div>

  <!-- Script -->
  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/tictactoe.js"></script>

  </script>
  <script type="text/javascript">
    // Navigation
    function openNav() {
      document.getElementById("mySidebar").style.width = "100%";
    }

    function closeNav() {
      document.getElementById("mySidebar").style.width = "0";
    }

    window.onscroll = function() {myFunction()};

    var navbar = document.getElementById("myNavbar");
    var sticky = navbar.offsetTop;

    function myFunction() {
      if (window.pageYOffset >= sticky) {
        navbar.classList.add("sticky")
      } else {
        navbar.classList.remove("sticky");
      }
    }
  </script>
</body>
</html>
