<!DOCTYPE html>
<html lang="en" class="in">
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">

  <script src="https://kit.fontawesome.com/c55ffa2d10.js" crossorigin="anonymous"></script>
</head>
<body class="in">
  <div id="container-col" class="row">
    <div id="col-lissajous" class="col-xs-12 col-lg-4">
      <a href="/lissajous">
        <div class="">
          <i class="fas fa-chart-area fa-10x"></i>
        </div>
        <span>Lissajous</span>
      </a>
    </div>
    <div id="col-redesign" class="col-xs-12 col-lg-4">
      <a href="/redesign">
        <div class="">
          <i class="fas fa-drafting-compass fa-10x"></i>
        </div>
        <span>Redesign</span>
      </a>
    </div>
    <div id="col-game" class="col-xs-12 col-lg-4">
      <a href="/game">
        <div class="">
          <i class="fas fa-gamepad fa-10x"></i>
        </div>
        <span>Game</span>
      </a>
    </div>
  </div>
</body>
</html>
